.super_container{
	width: 100%;
	height: 100%;
	background: #151515;

}
.feedback
{   
	color: white;
	padding-top: 30px;
	padding-bottom: 120px;
}

.feedback_title{
	margin-top: 50px;
	margin-bottom: 20px;
	height: 100px;
	text-align: center;
	font-family: "Playfair Display";
	font-size: 50px;
	background-image: url("../images/bg_dark2.jpg") ;
}

.feedback_title h2{
	padding-top: 30px;
}

/*****************Intro text********************************/
.intro_text
{
	margin: 50px;
	font-family: "Playfair Display";
}

/*************************Form**************************/

.evaluation_form{
    
}

