/* --------------------------------------------------- body -------------------------------------------- */
html,body{
	margin:0;
	padding:0;
	height:100%;
	background-image: url(../images/bg_moon.jpg);
	background-repeat: repeat;
}


.row{
	margin-left: 5px;
	margin-right: 10px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.home_profile
{	
	width: 100%;
	height: max-content;
}


.home_title h1
{
	padding-top: 130px;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
    font-weight: 2000;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
	text-shadow: 5px 7px 5px yellow;
}
 h6{
	text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black;
	color: azure;
	text-align: center;
}
/******************************************Recommendations*********************************************/

.recommendations_container{
  width: 100%;
 
	align-items: center;
	justify-content:center ;
}

.section_row{
  margin: 40px;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
} 

.player-wrapper {
	border-radius: 5px;
	box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.25);
	background-color: rgb(0, 0, 0,0.6); 

	overflow: hidden;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	height: fit-content;
	padding: 0;
	border-radius: 0;
	flex:1;
}
ul.playlist {
	margin: 0;
	padding: 15px 15px 0 15px;
}
ul.playlist a {
	color: #fff;
	text-decoration: none;
}
ul.playlist li {
	overflow: hidden;
	line-height: 80px;
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid rgba(230, 211, 211, 0.31);
}
ul.playlist li::before {
	content: "\f001";
	margin-right: 10px;
	font-size: 120%;
	background-color: #02020266;
	font-family: Fontawesome;
	color: white;
	padding: 6px 8px;
	text-align: center;
	border-radius: 3px;
}
.track-info {
	display: inline-block;
	position: relative;
	line-height: 1.3em;
	width: 100%;
	font-weight: 500;
}
.track-info .artist {
	display: block;
	font-size: 13px;
	font-style: normal;
	line-height: 15px;
	color: #fff;
	text-decoration: none;
}
.track-info .title {
	display: block;
	color: #fff;
}
ul.playlist .download {
	float: right;
}

.login_message_container{
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0,0.6); 
}
.login_message h1{
	padding-top: 300px;
    font-size: 40px;
	color: #FFFFFF;
    font-weight: 2000;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
	text-shadow: 5px 7px 5px yellow;
	text-align: center;	
	
}


/**********************Responsive*******************/
/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	

}


/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_title h1{
		font-size: 30px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{

}


/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}
/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}