
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/main_styles.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'MusicRecommenderApp/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'MusicRecommenderApp/plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet"  type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
