<!DOCTYPE html>
<html lang="en">
<head>
<title>Gotchu MRS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

{% include "MusicRecommenderApp/css.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/mediaelementplayer.css' %}">
<link rel="stylesheet prefetch" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
    <body>
     
        <div class="super_container">
            
	<!-- Header -->

  {% include "MusicRecommenderApp/header.html" %}
    <!-- Home -->
   
    {% if user.is_authenticated %}
  

    <div class="home_profile">
        <div class ="home_content">
            <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="home_title">
                            <h1>{{user.first_name}} {{user.last_name}} , <br>welcome
                            to your music profile. </h1>
                            <h6>Recommendations are generated based on your music preferences.</h6>
                    </div> 
                </div>
            </div>
    </div><!--end div home_profile-->


    <div class="recommendations_container">

        <div class="section_row">
            <div class="user_analysis">
            <h3>Based on AI algorithms: your most favourite genre is: </h3>
            <h4>You like song with <b>high</b> dancebility</h4>
        </div>
        </div>
	<!-- Actions -->
    <div class="row">
        <div class="col">
            <div class="actions-button">
                <ul class="d-flex flex-row align-items-center justify-content-center flex-wrap">
                    <button class='action_button btn btn-outline-light' type="button"  onclick="addSongs()" >Add to existing playlist</button>
                    <!-- Button to Open the Modal -->
                    <button class='action_button btn btn-outline-light' type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Create Playlist
                      </button>
                    <button class='action_button btn btn-outline-light'>Add to Favourites </button>
                    <button class='action_button btn btn-outline-light'>Filter </button>
                    <button class='action_button btn btn-outline-light'>Duration </button>
                </ul>
            </div>
        </div>
    </div> <!--end row action-->
        <div class="section_row">

            <div class="recommendations_section" id="recomemendations_playlists">
            <h3>Based on your recent tracks :</h3>
            {% if recent_recommendations %}
            <div class="player-wrapper">
            
                <ul class="playlist custom-counter" id="list">
                {% for i in recent_recommendations %}
            
                <!-- recommendation list  -->
                <li>
                    <iframe src="https://open.spotify.com/embed/track/{{i.id}}" 
                    width="80%" height="80px" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media"></iframe>
                </li>
            
                {% endfor %}
            </ul>
            
            </div>
            {% else %}
            <h1>No results</h1>
            {% endif %}
            
            </div> <!--end div recommenations-->
            </div>

            <div class="section_row">
            <div class="recommendations_section" id="recomemendations_savedtracks">
                <h3>Based on your saved tracks :</h3>
                {% if saved_recommendations %}
            <div class="player-wrapper">
            
                <ul class="playlist custom-counter" id="list">
                {% for i in saved_recommendations %}
            
                <!-- recommendation list  -->
                <li>
                    <iframe src="https://open.spotify.com/embed/track/{{i.id}}" 
                    width="80%" height="80px" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media"></iframe>
                </li>
            
                {% endfor %}
            </ul>
            
            </div>
            {% else %}
            <h1>No results</h1>
            {% endif %}
                             </div> <!--end div recomemendations-->
            </div><!--end div section_row -->
    


        <div class="section_row">
            <div class="recommendations_section" id="recomemendations_recentplayed">
                <h3>Based on your favourite tracks :</h3>
                {% if top_recommendations %}
                <div class="player-wrapper">
                
                    <ul class="playlist custom-counter" id="list">
                    {% for i in top_recommendations %}
                
                    <!-- recommendation list  -->
                    <li>
                        <iframe src="https://open.spotify.com/embed/track/{{i.id}}" 
                        width="80%" height="80px" frameborder="0" allowtransparency="true" 
                        allow="encrypted-media"></iframe>
                    </li>
                
                    {% endfor %}
                </ul>
                
                </div>
                {% else %}
                <h1>No results</h1>
                {% endif %}
                {{data}}

                </div> <!--end div recomemendations-->
                </div> <!--div end column -->
    </div> <!--end div section_row-->
    </div> <!--end div recommendations_container-->

    
    {% else %}
    <div class="login_message_container">
        <div class="login_message">
            <h1>{{error_message}}</h1>
        </div>
    </div>
    {% endif %}
    	<!-- prompt user to enter playlist name -->
	{% include 'MusicRecommenderApp/createPlaylistForm.html' %}
</div><!--end div super_container-->


<!-- javascript files -->

{% include "MusicRecommenderApp/js.html" %}
<script src="{% static 'MusicRecommenderApp/js/my.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="{% static 'MusicRecommenderApp/js/mediaelement-and-player.min.js' %}"></script>   

    </body>
</html>