<!DOCTYPE html>
<html lang="en">
<head>
<title>Gotchu MRS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

{% include "MusicRecommenderApp/css.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MusicRecommenderApp/styles/mediaelementplayer.css' %}">

</head>
    <body>
     
        <div class="super_container">
            
	<!-- Header -->

  {% include "MusicRecommenderApp/header.html" %}
    <!-- Home -->
   
    {% if user.is_authenticated %}
  

    <div class="home_profile">
        <div class ="home_content">
            <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="home_title">
                            <h1>{{user.first_name}} {{user.last_name}} , <br>welcome
                            to your music profile. </h1>
                            <h6>Recommendations are generated based on your music preferences.</h6>
                    </div> 
                </div>
            </div>
    </div><!--end div home_profile-->


    <div class="recommendations_container">

        <!--Choices -->
        <div class ="select_row">
            <form method="POST" id='myform'  >
                {% csrf_token %}
    
                <select class="select-css" name="selected_category">
                    <option disabled="true" value=''>Please select a category: </option>
                    <option class='option' value='Saved Tracks'>Your Saved Tracks</option>
                    <option class='option' value='Recent Plays'>Your Recent Plays</option>
                    <option class='option' value='Top Tracks'>Your Top Tracks</option>
                    {% for i in choices %}
                            <option class='option'  name='option1' value={{i.id}}>{{i.name|title}}</option>
                    {% endfor %}
                </select>
                <div class="search_btn_container">
                <button type="submit" class="search_btn"><i class="fa fa-search"></i></button>
            </div>
 
            </form>
        </div>
	
   <!-- Actions -->
   <div class="row ">
    <div class="col">
        <div class="actions-button" id="actions-button" >
            <ul class="d-flex flex-row align-items-center justify-content-center flex-wrap">
                <!-- Button to Open the Modal -->
                <button class='action_button btn btn-dark' type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Create Playlist
                  </button>
                <button class='action_button btn btn-dark' type="button"  onclick="addSongs()" >Add to existing playlist</button>
            <!--
                  
                <button class='action_button btn btn-outline-light'>Add to Favourites </button>
                <button class='action_button btn btn-outline-light'>Filter </button>
                <button class='action_button btn btn-outline-light'>Duration </button>
            -->
            </ul>
        </div>
    </div>
</div> <!--end row action-->

        <div class="section_row" >
            <div class="recommendations_section" id="recomemendations_playlists" >
            <h3>Recommendations based on {{playlist_name|title}} :</h3>
            {% if recommendations %}
            <div class="player-wrapper">
            
                <ul class="playlist custom-counter" id="list">
                {% for i in recommendations %}
            
                <!-- recommendation list  -->
                <li>
                    <iframe src="https://open.spotify.com/embed/track/{{i.id}}" 
                    width="80%" height="80px" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media"></iframe>
                </li>
            
                {% endfor %}
            </ul>
            
            </div>
            {% else %}
            <h1>No results</h1>
            {% endif %}
            
            </div> <!--end div recommenations-->
            </div>

    </div> <!--end div section_row-->

    </div> <!--end div recommendations_container-->

    
    {% else %}
    <div class="login_message_container">
        <div class="login_message">
            <h1>{{error_message}}</h1>
        </div>
    </div>
    {% endif %}
    	<!-- prompt user to enter playlist name -->
	{% include 'MusicRecommenderApp/createPlaylistForm.html' %}
</div><!--end div super_container-->


<!-- javascript files -->

{% include "MusicRecommenderApp/js.html" %}
<script src="{% static 'MusicRecommenderApp/js/my.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="{% static 'MusicRecommenderApp/js/mediaelement-and-player.min.js' %}"></script>   

    </body>
</html>